@font-face {
  font-weight: 900;
  font-family: "Museo Sans";
  font-style: normal;
  src: url("../fonts/museosansblack.woff2") format("woff2"), url("../fonts/museosansblack.woff") format("woff");
}
@font-face {
  font-weight: 500;
  font-family: "Museo Sans";
  font-style: normal;
  src: url("../fonts/museosansmedium.woff2") format("woff2"), url("../fonts/museosansmedium.woff") format("woff");
}
@font-face {
  font-weight: 700;
  font-family: "Museo Sans";
  font-style: normal;
  src: url("../fonts/museosansbold.woff2") format("woff2"), url("../fonts/museosansbold.woff") format("woff");
}
@font-face {
  font-weight: 700;
  font-family: "Playfair Display";
  font-style: normal;
  src: url("../fonts/playfairdisplaybold.woff2") format("woff2"), url("../fonts/playfairdisplaybold.woff") format("woff");
}
@font-face {
  font-weight: 400;
  font-family: "Playfair Display";
  font-style: italic;
  src: url("../fonts/playfairdisplayitalic.woff2") format("woff2"), url("../fonts/playfairdisplayitalic.woff") format("woff");
}
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block;
}
/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold;
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
.reset {
  margin: 0;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  font-family: "Museo Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 21px;
  font-weight: 700;
  color: #333333;
  letter-spacing: 0.025em;
  overflow-x: hidden;
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  width: 0;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: #333333;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
figure {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
input,
button {
  font: inherit;
  border: none;
  outline: none;
}
button {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
}
.screen {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.screen::after {
  display: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  opacity: 0.1;
}
.screen h1 {
  margin-left: -5px;
  margin-bottom: 18px;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 52px;
  color: #000;
  font-weight: 900;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  -webkit-animation-name: onLoad;
          animation-name: onLoad;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.screen--contacts {
  background-image: url(../img/bg-contacts.jpg);
}
.screen--contacts::after {
  background-image: url(../img/bg-contacts.jpg);
}
.screen--404 {
  background-image: url(../img/bg-404.jpg);
}
.screen--404::after {
  background-image: url(../img/bg-404.jpg);
}
.screen--404 h1 {
  padding-bottom: 5px;
  font-size: 120px;
  line-height: 1;
  letter-spacing: 0.05em;
}
.screen--404 h1 span {
  padding-left: 10px;
  font-size: 36px;
  letter-spacing: 0.025em;
}
.screen--promo {
  padding-bottom: 45px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-image: url(../img/bg-main.jpg);
  background-position: bottom -20px center;
}
.screen--promo::after {
  display: none;
}
.screen--promo h1 {
  margin-left: 2px;
  margin-bottom: 45px;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
}
.screen--promo p {
  position: relative;
  color: #000;
  font-size: 52px;
  line-height: 54px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  padding-bottom: 2px;
}
.screen--promo p span {
  position: relative;
  left: -8px;
  bottom: 2px;
  color: #b4b4b4;
  font-family: "Playfair Display", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-transform: none;
  letter-spacing: 0.025em;
}
.screen--promo .info__block {
  max-width: 670px;
}
.screen--promo .info__btns {
  padding-top: 7px;
}
.screen--promo .btn--grey {
  margin-right: 20px;
}
.screen--promo .btn--feedback {
  width: 164px;
}
@-webkit-keyframes bounce {
  from {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }
  to {
    -webkit-transform: translate3d(0, -5px, 0);
            transform: translate3d(0, -5px, 0);
  }
}
@keyframes bounce {
  from {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }
  to {
    -webkit-transform: translate3d(0, -5px, 0);
            transform: translate3d(0, -5px, 0);
  }
}
.screen__next {
  display: block;
  margin-top: 90px;
  -webkit-animation: bounce .5s infinite alternate;
          animation: bounce .5s infinite alternate;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.wrapper {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}
@-webkit-keyframes onLoad {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
            transform: translate3d(0, 20%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes onLoad {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
            transform: translate3d(0, 20%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  35% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  65% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
}
@keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  35% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  65% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
}
.info__show {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  position: relative;
}
.info__show::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
}
.info__show--block {
  display: block;
  max-width: 190px;
}
.info__show--grey p {
  color: #b4b4b4;
}
.animateline::before {
  background-color: #000;
  -webkit-animation-name: slideInLeft;
          animation-name: slideInLeft;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.animatewhite::before {
  background-color: #fff;
  -webkit-animation-name: slideInLeft;
          animation-name: slideInLeft;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.fadein {
  -webkit-animation-name: onLoad;
          animation-name: onLoad;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.info a {
  font-weight: 700;
  text-decoration: underline;
}
.info a:hover,
.info a:active {
  text-decoration: none;
}
.info p {
  margin: 0;
  line-height: 1;
  display: inline-block;
  vertical-align: top;
  -webkit-animation-name: onLoad;
          animation-name: onLoad;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.info--404 .info__block {
  max-width: 550px;
}
.info--404 .btn--link {
  margin-right: 20px;
}
.info--404 .info__btns {
  margin-top: 25px;
}
.info--404 h1 {
  padding-bottom: 10px;
}
.info--contacts h1 {
  margin-bottom: 20px;
}
.info--contacts p {
  line-height: 21px;
}
.info__block {
  max-width: 410px;
  overflow: hidden;
}
.info__list {
  margin-top: 15px;
  font-weight: 700;
  color: #000;
  line-height: 32px;
}
.info__list li {
  position: relative;
  padding-left: 10px;
}
.info__list li::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 0;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #000;
}
.info__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 22px;
}
.info__phone {
  display: block;
  font-size: 15px;
  font-weight: 700;
  margin-left: 20px;
  text-decoration: none !important;
}
.btn {
  height: 40px;
  padding-bottom: 1px;
  font-weight: 700;
  letter-spacing: 0.05em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
  border: 2px solid #000;
  text-decoration: none !important;
}
.btn--feedback {
  width: 177px;
  color: #000;
  outline: none !important;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.btn--feedback:hover,
.btn--feedback:active {
  color: #fff;
  background-color: #000;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.btn--link {
  width: 209px;
  color: #fff;
  background-color: #000;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.btn--link:hover,
.btn--link:active {
  color: #000;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.btn--red {
  width: 232px;
  color: #fff;
  border-color: #e40d0d;
  background-color: #e40d0d;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.btn--red:hover,
.btn--red:active {
  border-color: #000;
  background-color: #000;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.btn--red b {
  font-style: normal;
  display: none;
}
.btn--grey {
  width: 147px;
  color: #fff;
  background-color: #000;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.btn--grey:hover,
.btn--grey:active {
  border-color: #b4b4b4;
  background-color: #b4b4b4;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.warning {
  position: relative;
  text-align: center;
  padding-top: 160px;
  padding-bottom: 130px;
}
.warning::after {
  content: "";
  position: absolute;
  top: 395px;
  left: calc(50% - 255px);
  width: 36px;
  height: 34px;
  background-image: url(../img/icon-arrow-red.svg);
  background-repeat: no-repeat;
}
.warning h2 {
  margin-top: 15px;
  color: #e40d0d;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}
.warning p {
  max-width: 690px;
  margin-left: auto;
  margin-right: auto;
  line-height: 20px;
}
.warning .btn--feedback {
  width: 135px;
  margin-left: 20px;
}
.warning .info__btns {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.about__title {
  margin-top: 105px;
  margin-bottom: 37px;
}
.about__title .info__show {
  min-width: 370px;
}
.about__block {
  width: 50%;
  padding-left: 15px;
}
.about__block h2 {
  display: inline-block;
  position: relative;
  margin-top: 18px;
  margin-bottom: 0;
  line-height: 1;
  font-size: 52px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #000;
}
.about__block h2 span {
  min-width: 100px;
  position: absolute;
  top: -8px;
  left: 105%;
  color: #b4b4b4;
  font-family: "Playfair Display", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-transform: none;
  letter-spacing: 0.025em;
}
.about__block p {
  line-height: 20px;
  margin-bottom: 20px;
}
.citation {
  position: relative;
  z-index: 50;
  overflow: hidden;
  min-height: 538px;
  padding-top: 100px;
  color: #fff;
  text-align: center;
  background-color: #1b1b1b;
  background-image: url(../img/bg-photo.png);
  background-size: 728px 538px;
  background-repeat: no-repeat;
  background-position: right center;
}
.citation blockquote {
  position: relative;
  margin-bottom: 110px;
  font-family: "Playfair Display", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.025em;
}
.citation blockquote::before {
  content: "“";
  position: absolute;
  top: -12px;
  left: 78px;
  color: #4f4f4f;
  font-size: 100px;
  font-weight: 700;
  opacity: 0.33;
}
.citation blockquote::after {
  content: "“";
  position: absolute;
  bottom: -10px;
  right: 75px;
  color: #4f4f4f;
  font-size: 100px;
  font-weight: 700;
  opacity: 0.33;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.citation p {
  line-height: 20px;
}
.form {
  background-color: #2f2f2f;
}
.form--bottom {
  background-color: #1b1b1b;
}
.form span {
  color: #fff;
  font-family: "Playfair Display", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.025em;
}
.form__wrap {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form__input {
  width: 445px;
  margin-left: auto;
  margin-right: 35px;
  padding-top: 9px;
  padding-bottom: 7px;
  color: #8b8a8a;
  letter-spacing: 0.05em;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 2px solid #8b8a8a;
}
.form__input::-webkit-input-placeholder {
  opacity: 1;
}
.form__input:-ms-input-placeholder {
  opacity: 1;
}
.form__input::-ms-input-placeholder {
  opacity: 1;
}
.form__input::placeholder {
  opacity: 1;
}
.form__submit {
  width: 142px;
  height: 40px;
  margin-right: 35px;
  color: #8b8a8a;
  letter-spacing: 0.05em;
  border-radius: 20px;
  border: 2px solid #8b8a8a;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.form__submit:hover,
.form__submit:active {
  color: #2f2f2f;
  background-color: #8b8a8a;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.approach {
  padding-top: 135px;
}
.approach h2 {
  margin: 0;
  position: relative;
  font-size: 52px;
  line-height: 54px;
  font-weight: 900;
  text-transform: uppercase;
  color: #0f0f0f;
  letter-spacing: 0.025em;
}
.approach h2 span {
  display: block;
  color: #b4b4b4;
}
.approach h2 b {
  position: relative;
  color: #fff;
}
.approach h2 b::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 20%;
  left: 0;
  width: 99%;
  height: 58%;
  background-color: #0f0f0f;
}
.approach h3 {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 900;
  letter-spacing: 0.025em;
  color: #0f0f0f;
  text-transform: uppercase;
}
.approach p {
  max-width: 475px;
  margin-bottom: 20px;
  color: #333333;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.025em;
}
.approach__h3 {
  margin-top: 27px;
  margin-bottom: 35px;
}
.approach__title {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 115px;
  position: relative;
}
.approach__title::before,
.approach__title::after {
  content: "";
  position: absolute;
  height: 49px;
  background-repeat: no-repeat;
}
.approach__title::before {
  bottom: -80px;
  left: 130px;
  width: 35px;
  background-image: url(../img/icon-arrow-grey-left.svg);
}
.approach__title::after {
  top: 45px;
  right: -50px;
  width: 73px;
  background-image: url(../img/icon-arrow-grey-right.svg);
}
.approach__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.approach__column {
  width: 50%;
}
.approach__column--right {
  padding-top: 140px;
  padding-left: 15px;
}
.approach__img {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -145px;
  z-index: -1;
}
.work {
  padding-bottom: 105px;
  text-align: center;
}
.work .info__show {
  margin-top: -27px;
}
.work h2 {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-size: 52px;
  line-height: 54px;
  font-weight: 900;
  text-transform: uppercase;
  color: #0f0f0f;
  letter-spacing: 0.025em;
}
.work h3 {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 900;
  letter-spacing: 0.025em;
  color: #0f0f0f;
  text-transform: uppercase;
}
.work__title {
  margin-bottom: 35px;
}
.work__h3 {
  margin-top: 35px;
  margin-bottom: 20px;
}
.work__subtitle {
  position: relative;
  max-width: 905px;
  margin-bottom: 85px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #333333;
  line-height: 20px;
}
.work__subtitle::before,
.work__subtitle::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
}
.work__subtitle::before {
  bottom: -90px;
  left: 120px;
  width: 81px;
  height: 68px;
  background-image: url(../img/icon-arrow-left.svg);
}
.work__subtitle::after {
  bottom: -100px;
  right: 110px;
  width: 41px;
  height: 82px;
  background-image: url(../img/icon-arrow-right.svg);
}
.work__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-image: url(../img/bg-business.jpg);
  background-size: 245px 233px;
  background-repeat: no-repeat;
  background-position: center bottom -10px;
}
.work__column {
  width: 445px;
  text-align: left;
}
.work__column--right {
  text-align: right;
}
.work__column p {
  margin-bottom: 20px;
  color: #333333;
  font-size: 14px;
  line-height: 18px;
}
.work__column .info__show {
  margin-top: 0;
}
.review {
  width: 100%;
  position: relative;
  color: #fff;
}
.review .info__show {
  position: absolute;
  z-index: 5;
  top: 225px;
  left: calc(50% - 555px);
}
.review h2 {
  font-size: 52px;
  line-height: 54px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  margin: 0;
}
.review__wrap {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.review__slider {
  width: 100%;
}
.review__slide {
  position: relative;
  z-index: 0;
  min-height: 500px;
}
.review__icon {
  fill: #fff;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.review__play {
  position: absolute;
  z-index: 15;
  top: 210px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 76px;
  height: 76px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 2px solid #fff;
  outline: none;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.review__play img {
  display: block;
}
.review__play:hover,
.review__play:active {
  background-color: #fff;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.review__play:hover .review__icon,
.review__play:active .review__icon {
  fill: #333;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.review__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
.review__img img {
  display: block;
  height: 100%;
  width: auto;
  max-width: none;
}
.review__img::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(9, 9, 9, 0.851);
}
.review__text {
  width: 475px;
  padding-right: 65px;
  padding-top: 220px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.review__text h3 {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 12.;
  font-weight: 700;
  letter-spacing: 0.05em;
}
.review__text h3::after {
  content: "";
  position: absolute;
  top: 9px;
  right: -70px;
  width: 35px;
  height: 2px;
  background-color: #ffffff;
}
.review__text p {
  opacity: 0.5;
  font-family: "Playfair Display", "Arial", sans-serif;
  font-style: italic;
  letter-spacing: 0.05em;
  line-height: 1.2;
}
.review__text .review__author {
  display: block;
  opacity: 1;
  color: #fff;
  text-decoration: underline;
  text-align: right;
  font-family: "Playfair Display", "Arial", sans-serif;
  font-style: italic;
  letter-spacing: 0.05em;
  line-height: 1.2;
}
.review__prev,
.review__next {
  width: 24px;
  height: 24px;
  bottom: 45px;
  top: auto;
  background-size: 24px 24px;
}
.review__prev {
  left: calc(50% - 70px);
  background-image: url(../img/ic_keyboard_arrow_left_black_24px.svg);
}
.review__next {
  right: calc(50% - 70px);
  background-image: url(../img/ic_keyboard_arrow_right_black_24px.svg);
}
.review__pagination {
  bottom: 45px;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 0.05em;
}
.review__video {
  width: 75%;
  position: relative;
  padding-bottom: 50%;
  padding-top: 25px;
  height: 0;
}
.review__video iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.modal {
  width: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 15;
  bottom: 0;
  left: 0;
  font-family: "Museo Sans", "Arial", sans-serif;
  background-color: #fff;
  display: none;
}
.modal__close {
  position: absolute;
  right: 30px;
  top: 35px;
  padding-right: 25px;
  color: #333333;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.05em;
}
.modal__close::after {
  content: "+";
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.overlay {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal__list {
  padding-top: 80px;
  padding-bottom: 50px;
  height: 325px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}
.modal__item {
  margin-bottom: 23px;
  margin-right: 90px;
}
.modal__item a {
  width: 195px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.modal__item span {
  color: #a8a8a8;
  letter-spacing: 0.05em;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.modal__item svg {
  width: 18px;
  height: 18px;
  margin-top: 5px;
  fill: #a8a8a8;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.modal__item:hover span,
.modal__item:active span {
  color: #000;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.modal__item:hover svg,
.modal__item:active svg {
  fill: #000;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.modal__bottom {
  background-color: #f4f4f4;
  font-weight: 500;
  padding-top: 30px;
  padding-bottom: 30px;
}
.screen--promo .modal__bottom p {
  margin: 0;
  font-size: 13px;
  line-height: 21px;
  font-weight: 700;
  color: #333333;
  letter-spacing: 0.025em;
  text-transform: none;
}
@-webkit-keyframes slideOutDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
}
@keyframes slideOutDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
}
.slideOutDown {
  -webkit-animation-name: slideOutDown;
          animation-name: slideOutDown;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
.slideInUp {
  display: block;
  -webkit-animation-name: slideInUp;
          animation-name: slideInUp;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.fadeIn {
  opacity: 1;
}
.fadeOut {
  opacity: 0;
}
@media (max-width: 1400px) {
  .screen--promo p {
    font-size: 44px;
  }
}
@media (max-width: 1169px) {
  .wrapper {
    width: 100%;
  }
  .info h1 {
    margin-top: 0;
  }
  .about__wrap {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .about__wrap img {
    width: 40%;
  }
  .about__wrap .about__block {
    width: 60%;
  }
  .form__input {
    width: 300px;
  }
  .work__column p {
    padding-right: 50px;
  }
  .work__column--right p {
    padding-right: 0;
    padding-left: 50px;
  }
  .review__text {
    padding-right: 0;
    width: 380px;
  }
  .review .info__show {
    left: 30px;
  }
  .review__img {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .screen--promo p {
    font-size: 36px;
  }
  .citation blockquote::before {
    left: 0;
  }
  .citation blockquote::after {
    right: 0;
  }
  .approach__img {
    top: -70px;
  }
  .approach p {
    padding-right: 30px;
  }
  .approach h2 {
    font-size: 48px;
  }
  .screen--promo {
    padding-bottom: 5px;
  }
  .screen--promo .info__block {
    max-width: 500px;
  }
  .screen__next {
    margin-top: 30px;
  }
  .screen h1 {
    margin-left: 0;
  }
}
@media (max-width: 1022px) {
  .screen {
    background-image: none;
  }
  .screen::after {
    display: block;
  }
  .screen--promo {
    background-image: url(../img/bg-main.jpg);
    background-position: right -400px bottom;
  }
  .citation blockquote {
    font-size: 20px;
  }
  .citation blockquote::before {
    left: 0;
  }
  .citation blockquote::after {
    right: 0;
  }
  .citation {
    padding-bottom: 40px;
  }
  .form__submit {
    margin-right: 0;
  }
  .form span {
    font-size: 14px;
  }
  .form__input {
    margin-right: auto;
    width: 250px;
  }
  .approach h2 {
    font-size: 36px;
    line-height: 1.1;
  }
  .approach h3 {
    font-size: 24px;
  }
  .approach__img {
    top: -45px;
  }
  .review__play {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .review .info__show {
    top: 225px;
  }
  .review__text {
    width: 50%;
    text-align: center;
  }
  .review__text .review__author,
  .review__text p {
    display: none;
  }
  .approach__title::after {
    right: -70px;
  }
  .work h2 {
    font-size: 48px;
  }
  .about__wrap {
    position: relative;
  }
  .about__wrap img {
    position: absolute;
    bottom: 0;
    left: -40px;
    z-index: -1;
    width: 50%;
  }
  .about__wrap .about__block {
    margin-left: auto;
  }
  .work__wrap {
    background-size: 160px auto;
  }
  .modal__item {
    margin-right: 40px;
  }
}
@media (max-width: 760px) {
  .info__block {
    max-width: none;
  }
  .screen--promo p {
    font-size: 30px;
  }
  .screen--promo .info h1 {
    font-size: 20px;
  }
  .screen--promo {
    padding-bottom: 100px;
    background-position: bottom center;
  }
  .screen--promo .info__show--block {
    max-width: 220px;
  }
  .screen--promo .info__block {
    max-width: 390px;
  }
  .form__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .form__input {
    margin-bottom: 20px;
  }
  .approach h2 {
    font-size: 36px;
  }
  .warning p {
    max-width: 500px;
  }
  .warning::after {
    display: none;
  }
  .about__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__wrap .about__block {
    padding-left: 0;
    width: 100%;
  }
  .about__title {
    margin-top: 60px;
  }
  .about__wrap img {
    position: static;
    width: auto;
    margin-top: 20px;
  }
  .citation blockquote {
    font-size: 18px;
  }
  .citation blockquote::before {
    left: -50px;
  }
  .citation blockquote::after {
    right: -50px;
  }
  .approach {
    padding-top: 30px;
  }
  .work__title {
    margin-top: 60px;
  }
  .screen--promo {
    padding-bottom: 5px;
  }
  .modal__item {
    margin-right: 15px;
  }
  .info--contacts .info__block {
    max-width: 600px;
  }
  .modal .fancybox-close-small::after {
    right: -5px;
  }
  .modal .fancybox-close-small::before {
    top: 10px;
  }
  .modal {
    top: 0;
    bottom: auto;
    min-height: 100vh;
  }
  .slideInUp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .modal__bottom {
    margin-top: auto;
  }
}
@media (max-width: 480px) {
  .info__show--grey p {
    color: #000;
  }
  .screen--promo {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(30%, rgba(255, 255, 255, 0)), color-stop(70%, rgba(255, 255, 255, 0.8)), to(#ffffff)), url(../img/bg-main.jpg);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.8) 70%, #ffffff 100%), url(../img/bg-main.jpg);
    background-position: center, right -300px center;
  }
  .screen--promo::after {
    display: none;
  }
  .approach {
    padding-top: 30px;
  }
  .approach h3 {
    line-height: 1.2;
  }
  .approach__title {
    margin-bottom: 50px;
  }
  .approach__h3 {
    margin-bottom: 18px;
  }
  .approach__column--right {
    padding-top: 5px;
  }
  .info h1 {
    font-size: 44px;
  }
  .info--404 h1 {
    font-size: 52px;
    margin-bottom: 18px;
  }
  .info--404 .btn--link {
    margin-bottom: 20px;
  }
  .info--404 .btn--feedback {
    padding-bottom: 0;
  }
  .info--404 p {
    max-width: 250px;
    line-height: 1.2;
  }
  .info__btns {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .info__phone {
    width: 100%;
    margin-top: 20px;
  }
  .info__list {
    line-height: 1.2;
  }
  .info__list li {
    margin-bottom: 10px;
  }
  .info__list li::before {
    top: 5px;
  }
  .screen--promo p span {
    position: absolute;
    z-index: 5;
    right: -75px;
    bottom: 0;
    left: auto;
  }
  .approach__wrap {
    display: block;
  }
  .approach__column {
    width: 100%;
  }
  .approach__column--right {
    padding-left: 0;
  }
  .approach__img {
    top: 0;
  }
  .work {
    padding-bottom: 60px;
  }
  .work h2 {
    font-size: 36px;
    line-height: 1.1;
    text-align: left;
  }
  .work__wrap {
    display: block;
    background-image: none;
  }
  .work__column {
    width: 100%;
  }
  .work__column p {
    padding: 0;
  }
  .approach__title::before,
  .approach__title::after,
  .work__subtitle::after,
  .work__subtitle::before {
    display: none;
  }
  .about__block h2 {
    line-height: 1.1;
    font-size: 40px;
  }
  .about__title {
    margin-bottom: 5px;
  }
  .warning h2 {
    font-size: 26px;
  }
  .approach h2 {
    font-size: 30px;
  }
  .screen--promo {
    padding-bottom: 10px;
  }
  .screen--promo p {
    font-size: 25px;
  }
  .screen--promo::after {
    background-position: right -250px center;
  }
  .screen--promo .info__btns {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .screen--promo .info h1 {
    font-size: 16px;
  }
  .warning::after {
    display: none;
  }
  .form span {
    font-size: 16px;
    text-align: center;
  }
  .form__input {
    width: 280px;
    margin-top: 10px;
    text-align: center;
  }
  .work__column--right {
    text-align: left;
  }
  .approach p {
    padding-right: 0;
  }
  .citation {
    background-image: none;
  }
  .work__subtitle {
    text-align: left;
  }
  .review .info__show {
    top: 50px;
    left: 18%;
  }
  .review__play {
    top: 185px;
  }
  .review__text {
    width: 100%;
    padding-top: 250px;
  }
  .review__text h3::after {
    top: 80px;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  .btn--red {
    width: 135px;
  }
  .btn--red span {
    display: none;
  }
  .btn--red b {
    display: inline;
  }
  .warning .info__btns {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .modal__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding-bottom: 30px;
    height: auto;
  }
  .modal__item,
  .modal__item a {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .screen--promo .btn--grey {
    display: none;
  }
}
@media (max-width: 760px) and (orientation: landscape) {
  .screen--contacts {
    height: auto;
  }
  .info--contacts {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .screen--promo {
    padding-bottom: 0;
  }
  .screen__next {
    margin-top: 5px;
  }
}
