@media (max-width: 1169px) {
  .wrapper {
    width: 100%;
  }
  .info {
    h1 {
      margin-top: 0;
    }
  }
  .about__block h2 span {
    top: -30px;
  }
  .about__wrap {
    align-items: flex-end;
    
    img {
      width: 40%;
    }
    
    .about__block {
      width: 60%;
    }
  }
  .form__input {
    width: 300px;
  }
  .work__column p {
    padding-right: 50px;
  }
  .work__column--right p {
    padding-right: 0;
    padding-left: 50px;
  }
  .review__text {
    padding-right: 0;
    width: 380px;
  }
  .review h2 {
    left: 30px;
  }
  .review__img {
    justify-content: center;
  }
  .screen--promo p {
    font-size: 48px;
  }
  .citation blockquote::before {
    left: 0;
  }
  .citation blockquote::after {
    right: 0;
  }
  .approach__img {
    top: -70px;
  }
  .approach p {
    padding-right: 30px;
  }
}
//---------------------------
@media (max-width: 1022px) {
  .screen {
    background-image: none;
    
    &::after {
      display: block;
    }
  }
  .citation blockquote {
    font-size: 20px;
    
    &::before {
      left: 0;
    }
    
    &::after {
      right: 0;
    }
  }
  .citation {
    padding-bottom: 40px;
  }
  .form__submit {
    margin-right: 0;
  }
  .form span {
    font-size: 14px;
  }
  .form__input {
    margin-right: auto;
    width: 250px;
  }
  .approach h2 {
    font-size: 42px;
    line-height: 1.1;
  }
  .approach h3 {
    font-size: 24px;
  }
  .approach__img {
    top: -45px;
  }
  .review__play {
    top: 100px;
  }
}
//--------------------------
@media (max-width: 760px) {
  .info__block {
    max-width: none;
  }
  .info--404 {
    p {
      max-width: 320px;
    }
  }
  .screen--promo p {
    font-size: 30px;
  }
  .screen--promo h1 {
    font-size: 20px !important;
  }
  .screen--promo {
    padding-bottom: 100px;
    
    .info__show--block {
      max-width: 220px;
    }
    
    .info__block {
      max-width: 390px;
    }
  }
  .form__wrap {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .form__input {
    margin-bottom: 20px;
  }
  .approach h2 {
    font-size: 36px;
  }
  .warning p {
    max-width: 500px;
  }
  .warning::after {
    top: 400px;
  }
  .review h2 {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .review__play {
    top: 150px;
  }
  .review__text {
    width: 100%;
    padding-top: 250px;
  }
  .about__wrap {
    flex-direction: column-reverse;
    align-items: center;
  }
  .about__wrap .about__block {
    padding-left: 0;
    width: 100%;
    
    h2 {
      margin-top: 60px;
    }
  }
  .about__wrap img {
    width: auto;
    margin-top: 20px;
  }
  .citation blockquote {
    font-size: 18px;
  }
  .citation blockquote::before {
    left: -50px;
  }
  .citation blockquote::after {
    right: -50px;
  }
  .approach {
    padding-top: 30px;
  }
  .work h2 {
    margin-top: 60px;
  }
}
//-----------------------------
@media (max-width: 480px) {
  .approach {
    padding-top: 30px;
    
    h2 {
      margin-bottom: 50px;
    }
    
    h3 {
      margin-bottom: 18px;
      line-height: 1.2;
    }
  }
  .approach__column--right {
    padding-top: 5px;
  }
  .info h1 {
    font-size: 44px;
  }
  .info--404 {
    h1 {
      font-size: 52px;
      margin-bottom: 18px;
    }
    .btn--link {
      margin-bottom: 20px;
    }
    .btn--feedback {
      padding-bottom: 0;
    }
  }
  .info__btns {
    flex-wrap: wrap;
  }
  .info__phone {
    width: 100%;
    margin-top: 20px;
  }
  .info__list {
    line-height: 1.2;
    
    li {
      margin-bottom: 10px;
      
      &::before {
        top: 5px;
      }
    }
  }
  .screen--promo p span {
    position: absolute;
    z-index: 5;
    right: -75px;
    bottom: 0;
    left: auto;
  }
  .approach__wrap {
    display: block;
  }
  .approach__column {
    width: 100%;
  }
  .approach__column--right {
    padding-left: 0;
  }
  .approach__img {
    top: 0;
  }
  .work h2 {
    font-size: 36px;
    line-height: 1.1;
  }
  .work__wrap {
    display: block;
    background-image: none;
  }
  .work__column {
    width: 100%;
  }
  .work__column p {
    padding: 0;
  }
  .approach__title::before,
  .approach__title::after,
  .work__subtitle::after,
  .work__subtitle::before {
    display: none;
  }
  .about__block h2 {
    line-height: 1.1;
    font-size: 40px;
    margin-bottom: 5px;
    
    span {
      top: -25px;
    }
  }
  .warning h2 {
    font-size: 26px;
  }
  .warning .btn--feedback {
    margin-left: 0;
    margin-top: 20px;
  }
  .approach h2 {
    font-size: 30px;
  }
  .screen__next {
    bottom: 20px;
  }
  .screen--promo {
    padding-bottom: 80px;
  }
  .screen--promo .info__btns {
    flex-wrap: nowrap;
  }
  .warning::after {
    display: none;
  }
  .form span {
    font-size: 16px;
    text-align: center;
  }
  .form__input {
    width: 100%;
    text-align: center;
  }
  .work__column--right {
    text-align: left;
  }
  .approach p {
    padding-right: 0;
  }
  .citation {
    background-image: none;
  }
  .work__subtitle {
    text-align: left;
  }
}

@media (max-width: 320px) {
  .screen--promo .btn--grey {
    display: none;
  }
}
//--------------------------
@media (max-width: 760px) and (orientation: landscape) {
  .screen--contacts {
    height: auto;
  }
  .info--contacts {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .screen--promo {
    padding-bottom: 30px;
  }
  .screen__next {
    bottom: 0;
  }
}
